* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  line-height: 1.6;
  background-color: #fffdfc;
  color: #333;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: #4b2e2e;

}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
  background-color: #f8f1ec;
  border-bottom: 1px solid #ddd;
}

.nav a {
  text-decoration: none;
  color: #4b2e2e;
  font-weight: 600;
}
.nav li{
    margin: 1rem 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 15px;
}
.nav li:hover{
    background-color: #fdf7f3;
    border: 1px solid #4b2e2e;
    transition: background-color 0.3s ease;
}

.hero {
  text-align: center;
  padding: 5rem 2rem;
  background: url('https://images.unsplash.com/photo-1630534591724-dba93846b629?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDE2fHxqZXdlbHJ5fGVufDB8MHwwfHx8MA%3D%3D') no-repeat center/cover;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-btn {
  background-color: #4b2e2e;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.cta-btn:hover {
  background-color: #7a5c5c;
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 4rem;
  padding-inline: auto;
  align-items: center;
  gap: 2rem;
  background-color: #fdf7f3;
}

.about-text {
  flex: 1;
  max-width: 580px;
  min-width: 350px;
  font-size: 2em;
}

.about-img img {
  width: 100%;
  width: 300px;
  border-radius: 15px;
}

.about-img figcaption {
  text-align: center;
  font-style: italic;
  margin-top: 0.5rem;
}

.shop-preview {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #fff;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.gallery figure {
  max-width: 300px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-style: italic;
}

.visit {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #f8f1ec;
}

footer.footer {
  text-align: center;
  padding: 2rem;
  background-color: #4b2e2e;
  color: white;
}

footer a {
  color: #ffdad5;
  text-decoration: underline;
}
